{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Добавить Новый товар</h1>
    
    <form action="{% url 'new_lot' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Название Товара</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Название">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Описание товара</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input type="submit">
    </form>

{% endblock %}